{% load metadata_tags static vite_tags wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
        {% block metadata %}
            {% render_metadata %}
        {% endblock metadata %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="alternate" type="application/rss+xml" title="dailyplant RSS" href="{% url 'facts_rss_feed' %}">
        <link rel="alternate" type="application/atom+xml" title="dailyplant Atom" href="{% url 'facts_atom_feed' %}">

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}

        {% vite 'js/main.js' %}

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="body-container">
            {% block content %}
                {% block header %}
                    {% include "patterns/components/header/header.html" %}
                {% endblock header %}

                {% block page_content %}
                {% endblock page_content %}
            {% endblock content %}
        </div>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock extra_js %}
    </body>
</html>
