{% load wagtailcore_tags wagtailimages_tags %}

<article class="fact__card card">
    <header class="fact__header">
        {% if fact.heading_level == 'h2' %}
            <h2 class="fact__title">
                <a href="{% pageurl fact %}" class="link-unstyled">{{ fact.title }}</a>
            </h2>
        {% else %}
            <h1 class="fact__title">
                <a href="{% pageurl fact %}" class="link-unstyled">{{ fact.title }}</a>
            </h1>
        {% endif %}
        <p class="fact__date">
            <span class="fact__date__line" aria-hidden="true"></span>
            <time datetime="{{ fact.date|date:'Y-m-d'}}">
                <span>
                    {{ fact.date|date:'M d, Y' }}
                </span>
            </time>
            <span class="fact__date__line" aria-hidden="true"></span>
        </p>
    </header>
    <div class="fact__card__body">
        <div class="fact__content">
            {{ fact.content|richtext }}
        </div>
        {% if fact.image %}
            <figure class="content-media">
                {% picture fact.image format-{webp,jpeg} fill-560x315-c90 class="content-media__image" alt=fact.image_alt_text %}
                {% if fact.image_description %}
                    <figcaption class="content-media__caption">
                        {{ fact.image_description }}
                    </figcaption>
                {% endif %}
            </figure>
        {% endif %}
        <div class="fact__references">
            {% if fact.heading_level == 'h2' %}
                <h3 class="fact__subtitle" id="references-{{ fact.id }}">References</h3>
            {% else %}
                <h2 class="fact__subtitle" id="references-{{ fact.id }}">References</h2>
            {% endif %}
            <ol class="fact__references__list" role="list" aria-labelledby="references-{{ fact.id }}">
                {% for block in fact.references %}
                    <li>
                        {% include_block block %}
                    </li>
                {% endfor %}
            </ol>
        </div>
        {% with tags=fact.get_tags %}
            {% if tags %}
                {% include "patterns/components/tags/tag_list.html" %}
            {% endif %}
        {% endwith %}
    </div>
    {% if include_footer %}
        {% include "patterns/components/facts/fact_footer.html" %}
    {% endif %}
</article>
