{% load wagtailimages_tags %}

{% if image %}
    <figure class="content-media">
        {% if rendition == "compact" %}
            {% picture image format-{webp,jpeg} fill-400x225-c90 class="content-media__image" alt=alt %}
        {% elif rendition == "full" %}
            {% picture image format-{webp,jpeg} fill-1120x630-c90 class="content-media__image" alt=alt %}
        {% else %}
            {% picture image format-{webp,jpeg} fill-560x315-c90 class="content-media__image" alt=alt %}
        {% endif %}
        {% if caption %}
            <figcaption class="content-media__caption">
                {{ caption }}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}
