{% extends "patterns/base.html" %}
{% load metadata_tags %}

{% block metadata %}
    {% render_metadata title="Page not found" description="Sorry, this page could not be found." %}
{% endblock metadata %}

{% block body_class %}template-404{% endblock %}

{% block page_content %}
    <main id="main" class="centered-card" tabindex="-1">
        <div class="card wide__card">
            <h1 class="title">Page Not Found</h1>
            <div>
                <p>Sorry, this page could not be found.</p>
                <p>
                    <a href="{{ current_site.root_url|default:'/' }}" class="link-unstyled">
                        Return to Home
                    </a>
                </p>
            </div>
        </div>
    </main>
{% endblock page_content %}
