{% extends "patterns/base.html" %}

{% load vite_tags wagtailcore_tags %}

{% block head_js %}
    {% vite 'js/archive.js' %}
{% endblock head_js %}

{% block skiplinks %}
    {{ block.super }}
    <a href="#fact__archive" class="skip-to-main">Skip to fact list</a>
{% endblock skiplinks %}

{% block page_content %}
    <main id="main" class="fact__index" tabindex="-1">
        <header class="card wide__card">
            <h1 class="title">{{ page.title }}</h1>
            {{ page.introduction|richtext }}
            {% if tags %}
                <div class="fact__filters__container">
                    <p>
                        Select a tag to filter items by that tag.
                    </p>
                    <div class="fact__filters">
                        {% include "patterns/components/tags/tag_list.html" with index_page=page %}
                        {% if active_slug %}
                            <div>
                                <a href="{% pageurl page %}" class="tag-pill link-unstyled">
                                    Clear
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </header>
        <div class="fact__archive" id="fact__archive" tabindex="-1">
            {% for fact in facts %}
                {% include "patterns/components/facts/card.html" with index_page=page %}
            {% empty %}
                <div class="card wide__card">
                    No facts found.
                </div>
            {% endfor %}
        </div>
        {% if facts.has_previous or facts.has_next %}
            <footer>
                <nav aria-label="Pagination" data-controller="replace-template">
                    <ul role="list" class="pagination" id="fact-navigation">
                        {% if facts.has_previous %}
                            <li>
                                <a href="{% querystring page=facts.previous_page_number %}" class="tag-pill link-unstyled">
                                    ← Newer Facts
                                </a>
                            </li>
                        {% endif %}
                        {% if facts.has_next %}
                            <li>
                                <a href="{% querystring page=facts.next_page_number %}" class="tag-pill link-unstyled">
                                    Older Facts →
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <template data-replace-template-target="template">
                        {% include "patterns/components/facts/fact_navigation.html" %}
                    </template>
                </nav>
            </footer>
        {% endif %}
    </main>
{% endblock page_content %}
