{% extends "patterns/base.html" %}

{% load wagtailcore_tags %}

{% block page_content %}
    <main id="main" class="fact__page" tabindex="-1">
        <div class="centered-card">
            {% include "patterns/components/facts/card.html" with fact=page index_page=page.get_parent.specific include_footer=True %}
        </div>

        {% if related_facts %}
            <div class="centered-card">
                <section class="related__card card">
                    <header class="related__header">
                        <h2>Related Facts</h2>
                    </header>
                    <ul role="list" class="related__listing">
                        {% for related_fact in related_facts %}
                            <li>
                                <a href="{% pageurl related_fact %}" class="link-unstyled">{{ related_fact.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        {% endif %}
    </main>
{% endblock page_content %}
