{% extends "patterns/base.html" %}

{% load wagtailcore_tags %}

{% block page_content %}
    <main id="main" class="fact__index">
        <header class="card wide__card">
            <h1 class="title">{{ page.title }}</h1>
            <p>{{ page.introduction|richtext }}</p>
        </header>
        <div class="fact__archive">
            {% for fact in facts %}
                {% include "patterns/components/facts/card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock page_content %}
