{% extends "patterns/base.html" %}
{% load breadcrumb_tags %}

{% block metadata %}
    <title>Log In</title>
{% endblock metadata %}

{% block analytics %}
{% endblock analytics %}

{% block breadcrumbs %}
    {% render_breadcrumbs breadcrumbs %}
{% endblock breadcrumbs %}

{% block page_content %}
    <main id="main" class="centered-card" tabindex="-1">
        <div class="card login__card">
            <form action="{% url 'wagtailadmin_login' %}" method="post" class="login__form">
                {% csrf_token %}
                <h1 class="title">Log In</h1>
                {{ form }}
                <button type="submit">Send log in link</button>
            </form>
        </div>
    </main>
{% endblock page_content %}
